<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射语句 -->
<mapper namespace="com.jungo.diy.mapper.ApiDailyPerformanceMapper">
    <resultMap id="BaseResultMap" type="com.jungo.diy.entity.ApiDailyPerformanceEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="host" property="host" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="p99" property="p99" jdbcType="INTEGER"/>
        <result column="p999" property="p999" jdbcType="INTEGER"/>
        <result column="p90" property="p90" jdbcType="INTEGER"/>
        <result column="p75" property="p75" jdbcType="INTEGER"/>
        <result column="p50" property="p50" jdbcType="INTEGER"/>
        <result column="totalRequestCount" property="totalRequestCount" jdbcType="INTEGER"/>
        <result column="slowRequestCount" property="slowRequestCount" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="DATE"/>
    </resultMap>



    <!-- 插入用户 -->
    <insert id="insert" parameterType="com.jungo.diy.mapper.ApiDailyPerformanceMapper" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO api_daily_performance(host, url, p99, p999, p90, p75, p50, totalRequestCount, slowRequestCount, date)
        VALUES (#{host}, #{url}, #{p99}, #{p999}, #{p90}, #{p75}, #{p50}, #{totalRequestCount}, #{slowRequestCount}, #{date})
    </insert>

    <insert id="batchInsert">
        INSERT INTO api_daily_performance(host, url, p99, p999, p90, p75, p50, totalRequestCount, slowRequestCount, date)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.host}, #{item.url}, #{item.p99}, #{item.p999}, #{item.p90}, #{item.p75}, #{item.p50}, #{item.totalRequestCount}, #{item.slowRequestCount}, #{item.date})
        </foreach>
    </insert>

    <select id="findUrl99Line" resultType="com.jungo.diy.entity.ApiDailyPerformanceEntity">
        SELECT *
        FROM api_daily_performance
        <where>
            <if test="host != null">
                host = #{host}
            </if>
            AND url = #{url}
            AND date BETWEEN #{startDate} AND #{endDate}
        </where>
    </select>


    <select id="findAllByDate" resultMap="BaseResultMap">
        SELECT * FROM api_daily_performance WHERE date = #{date}
    </select>

    <select id="getSlowRequestRate" resultMap="BaseResultMap">
        SELECT * FROM api_daily_performance WHERE url = #{url} AND date BETWEEN #{startDate} AND #{endDate}
    </select>
</mapper>
