<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射语句 -->
<mapper namespace="com.jungo.diy.mapper.GateWayDailyPerformanceMapper">
    <resultMap id="BaseResultMap" type="com.jungo.diy.entity.GateWayDailyPerformanceEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="host" property="host" jdbcType="VARCHAR"/>
        <result column="p99" property="p99" jdbcType="INTEGER"/>
        <result column="p999" property="p999" jdbcType="INTEGER"/>
        <result column="p90" property="p90" jdbcType="INTEGER"/>
        <result column="p75" property="p75" jdbcType="INTEGER"/>
        <result column="p50" property="p50" jdbcType="INTEGER"/>
        <result column="totalRequestCount" property="totalRequestCount" jdbcType="INTEGER"/>
        <result column="slowRequestCount" property="slowRequestCount" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="DATE"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO gate_way_daily_performance(host, p99, p999, p90, p75, p50, totalRequestCount, slowRequestCount, date)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.host}, #{item.p99}, #{item.p999}, #{item.p90}, #{item.p75}, #{item.p50}, #{item.totalRequestCount}, #{item.slowRequestCount}, #{item.date})
        </foreach>
    </insert>

    <select id="getPerformanceByYear" resultMap="BaseResultMap">
        SELECT *
        FROM gate_way_daily_performance
        WHERE host = #{host} and date >= #{startDate};
    </select>

    <select id="getPerformanceByDate" resultMap="BaseResultMap">
        SELECT *
        FROM gate_way_daily_performance
        WHERE host = 'cl-gateway.tuhu.cn' AND date BETWEEN #{startDate} AND #{endDate};
    </select>
</mapper>
